@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kanit', sans-serif;
    color: #ffffff;
    background-color: #F27405;
}
h1{
    text-align: center;
    padding: 50px;
}
.card{
    background-color: #8CBF3F;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    border: 2px solid;
}
h2{
    text-align: center;
}
.counter{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    height: 38px;
}
button{
    color: #FFFFFF;
    background-color: #03A63C;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    border-radius: 40px;
}
.left{
    float: left;
}
.right{
    float: right;
}
#currentNumber{
    font-size: 25px;
}